{{ define "content" }}
    <h1>random.gif</h1>

    <em>a waste of time project by seejy</em><br><br>

    <form method="post" action="/submit">
        <label>
            gif url:

            <input type="text" name="url">
        </label>

        <button type="submit">submit</button>
    </form>

    <br><br>

    <hr>

    <h3>q/a</h3>
    <strong>q:</strong> can I be difficult and see all the gifs?<br>
    &gt; <a href="/all">I suppose.</a>

    <br><br>

    <strong>q:</strong> i want a feature making<br>
    &gt; <a href="https://github.com/cj123/random.gif">make it yourself</a>

    <br><br>

    <strong>q:</strong> this is cool<br>
    &gt; not a question, but thanks I guess
{{ end }}