<!doctype html>
<html lang="en">
<head>
    <title>random.gif</title>

    <style>
        .container {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
<div class="container">
    {{ template "content" . }}
</div>
</body>
</html>